*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 400px;
   margin: 80px auto ;
}
h2{
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.register{
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    border:1px solid black;
    color:white;
    padding: 10px;
   }
 
#submit{
    width:200px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    background-color: lightgray;
    margin-left: 90px;padding:6px;
    border: 2px solid black;
 }

    #submit:hover{background-color:limegreen;}